<header class="header">
  <div class="header__main container">
    <div class="header__main-logo">
      <img
        [src]="'images/home/ecoc_logo_' + lang() + '.svg'"
        alt="ecoc logo"
        width="453"
        height="293"
      />
    </div>

    <div class="header__lang">
      <nz-affix [nzOffsetTop]="10">
        @if (isMobile) {
        <app-burger-menu [isHomePage]="isHomePage()" />
        } @else {
        <app-switch-lang />
        }
      </nz-affix>
    </div>
  </div>

  @if (!isMobile) {
  <div class="header__menu">
    <app-header-menu
      [isHomePage]="isHomePage()"
      [isLangVisible]="!isHomePage()"
    />
  </div>
  }

  <div class="triangle__up">
    <img src="images/icons/up.svg" alt="up image" />
  </div>
</header>
