.ant-btn {
  border: 1px solid #080808;

  &-primary {
    color: #000;
    background-color: var(--primary-yellow);
  }

  &:focus,
  &:hover {
    color: var(--primary-yellow);
    border-color: var(--primary-yellow);
  }

  &-link:focus,
  &-link:hover {
    border-color: transparent;
  }

  &-primary:active,
  &-primary:focus,
  &-primary:hover {
    color: #000;
    border-color: #000;
    background-color: var(--primary-yellow);
  }
}
