<div class="home-section">
  <aside class="home-section__aside home-section__aside--left">
    <h1 class="home-section__title">
      {{ content()?.title ? (content()!.title | translate) : "In progress..." }}
    </h1>
  </aside>

  <aside class="home-section__aside home-section__aside--right">
    <div
      class="home-section__desc"
      [innerHTML]="content()?.block1?.[lang()] || (content()?.title ? 'In progress' : '')"
    ></div>

    <div
      class="home-section__desc"
      [innerHTML]="content()?.block2?.[lang()] || ''"
    ></div>
  </aside>
</div>
