.lang {
  --langHeight: 30px;
  --triangleWidth: 20px;

  display: flex;

  &__btn {
    height: var(--langHeight);
    display: flex;
    align-items: center;
    background-color: #000;
    text-align: center;

    & > a {
      font-weight: 500;
      color: #fff;
      height: var(--langHeight);
      line-height: var(--langHeight);
    }
  }

  &__left,
  &__right {
    height: var(--langHeight);
  }

  &__left {
    border-left: var(--triangleWidth) solid transparent;
    border-right: 0px solid transparent;
    border-bottom: var(--langHeight) solid #000;
  }

  &__right {
    border-left: 0px solid transparent;
    border-right: var(--triangleWidth) solid transparent;
    border-top: var(--langHeight) solid #000;
  }

  @media (max-width: 580px) {
    --langHeight: 20px;
    --triangleWidth: 15px;

    &__btn {
      & > a {
        padding: 4px;
      }
    }
  }
}
