<main class="welcome">
  <div class="left-line bg-lines">
    <img src="/images/dark_line.svg" alt="">
  </div>

  <div class="right-line bg-lines">
    <img src="/images/yellow_line.svg" alt="">
  </div>

  <div class="container">
    <h1 class="welcome__title">
      <div class="welcome__title-left"></div>
      <div class="welcome__title-text">
        Львів – Європейська столиця культури 2030. Місто-кандидaт
      </div>
      <div class="welcome__title-right"></div>
    </h1>

    <div class="welcome__content">
      <aside class="welcome__section welcome__left">
        <img class="welcome__logo" src="/images/logo.png" alt="logo">
        <p class="welcome__left-text welcome__left-text--yellow">Lviv 2030</p>
        <p class="welcome__left-text welcome__left-text--yellow">European</p>
        <p class="welcome__left-text welcome__left-text--yellow">Capital of culture</p>
        <p class="welcome__left-text">Candidate</p>
        <p class="welcome__left-text">City</p>
      </aside>

      <aside class="welcome__section welcome__right">
        <app-city-img class="welcome__right-content"></app-city-img>
      </aside>
    </div>
  </div>
</main>
