:host {
  flex: 1 1 auto;
}

.news {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 2rem;
    padding: 3rem 0;
  }

  &__col {
    grid-column: span 12 / span 12;
    border: 1px solid #fff;
  }

  @media (min-width: 768px) {
    &__list {
      column-gap: 2rem;
    }

    &__col {
      grid-column: span 6 / span 6;
    }
  }
}
