<header class="header__menu">
  <app-header-menu [isHomePage]="false" [isLangVisible]="true" />
</header>

<main class="page news container">
  <section class="page__section page__head">
    <h1 class="page__title">
      {{ "title.news" | translate }}
    </h1>
  </section>

  <hr />

  <nz-spin [nzSpinning]="isLoading()">
    <div class="news__list page__section">
      @for (article of news; track article.id) {
      <div class="news__col">
        <app-news-item [article]="article" />
      </div>
      }
    </div>
  </nz-spin>
</main>
