<header class="header__menu">
  <app-header-menu [isLangVisible]="true" />
</header>

<main class="lviv-2030 container">
  <section class="lviv-2030__section lviv-2030__head">
    <h1 class="lviv-2030__title">
      {{ "title.lviv_2030" | translate }}
    </h1>
  </section>

  <hr />

  <section class="lviv-2030__section">
    <app-grid-section />
  </section>
  <hr />
  <section class="lviv-2030__section">
    <app-grid-section />
  </section>
  <hr />
  <section class="lviv-2030__section">
    <app-grid-section />
  </section>
</main>
