<header class="header__menu">
  <app-header-menu [isHomePage]="false" [isLangVisible]="true" />
</header>

<main class="page lviv-2030 container">
  <section class="page__section page__head">
    <h1 class="page__title">
      {{ "title.lviv_2030" | translate }}
    </h1>
  </section>

  <hr />

  <section class="page__section">
    <app-grid-section />
  </section>
  <hr />
  <section class="page__section">
    <app-grid-section />
  </section>
  <hr />
  <section class="page__section">
    <app-grid-section />
  </section>
</main>
