<div class="home-section" id="ecoc_section">
  <aside class="home-section__aside home-section__aside--left">
    <h1 class="home-section__title">Lorem ipsum dolor sit amet.</h1>
  </aside>

  <aside class="home-section__aside home-section__aside--right">
    <div class="home-section__desc">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eligendi
        laboriosam id dolore reprehenderit quia nisi numquam cumque ex
        consequuntur?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eligendi
        laboriosam id dolore reprehenderit quia nisi numquam cumque ex
        consequuntur?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eligendi
        laboriosam id dolore reprehenderit quia nisi numquam cumque ex
        consequuntur?
      </p>
    </div>
    <div class="home-section__desc">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eligendi
        laboriosam id dolore reprehenderit quia nisi numquam cumque ex
        consequuntur?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eligendi
        laboriosam id dolore reprehenderit quia nisi numquam cumque ex
        consequuntur?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eligendi
        laboriosam id dolore reprehenderit quia nisi numquam cumque ex
        consequuntur?
      </p>
    </div>
  </aside>
</div>
