.news {
  &__image {
    margin: 24px 0;
    display: flex;
    gap: 20px;

    &-input {
      width: 100%;
    }
  }
}

.form {
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
