:host {
  flex: 1 1 auto;
}

.article {
  &__section {
    padding: 50px 0;
    background-color: var(--main-bg);

    &:not(:first-child) {
      padding: 0 0 50px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 2%;

    &-info {
      flex-basis: 65%;
    }

    &-img {
      flex-basis: 33%;
    }
  }

  &__title {
    word-break: break-word;
  }

  &__img {
    object-fit: contain;
  }

  &__date {
    display: block;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
  }

  &__desc {
    font-size: 18px;
  }

  &__desc,
  &__content {
    ::ng-deep {
      ul {
        list-style: disc;
        padding-left: 40px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 30px;

        & > img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    &__head {
      flex-direction: column-reverse;
      gap: 20px;

      &-img {
        display: flex;
        justify-content: center;
        height: 380px;
      }
    }
  }

  @media (max-width: 767px) {
    &__section {
      padding: 0 0 50px;
    }
  }
}
