<footer class="footer">
  <div class="container footer__content">
    <div class="footer__img-wrap">
      <img
        src="/images/icons/isc_bw_{{ lang() }}.svg"
        alt="інститут стратегії культури"
      />
    </div>
    <div class="footer__img-wrap">
      <img
        src="/images/icons/lviv_rada_bw_{{ lang() }}.svg"
        alt="львівська рада"
      />
    </div>
    <div class="footer__img-wrap">
      <img
        src="/images/icons/lviv_open_bw_{{ lang() }}.svg"
        alt="львів відкритий для світу"
      />
    </div>
  </div>
</footer>
