.header {
  &-menu {
    height: 50px;
    background-color: var(--primary-yellow);
  }

  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &-nav {
    width: 100%;

    &__list {
      height: 100%;
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      white-space: nowrap;

      & > a {
        position: relative;
        display: inline-block;
        transition: transform 0.25s ease-in-out;

        & > img {
          min-width: 45px;
        }

        &:hover {
          color: #2d2d2d;
          transform: scale(1.05);

          &::after {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    &-nav {
      &__list {
        width: 90%;

        &.home {
          width: 80%;
        }
      }
    }
  }

  @media (max-width: 991px) {
    &-nav {
      &__list {
        width: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    &-menu {
      background-color: transparent;
    }

    &__container {
      justify-content: flex-end;
    }
  }
}
