<app-header />

<main class="home">
  <section class="home__content home__ecoc container" id="ecoc_section">
    <app-ecoc [content]="{ title: 'title.ecoc' }" />
  </section>

  <hr />

  <section class="home__content home__prehistory" id="prehistory_section">
    <div class="triangle__down">
      <img src="images/icons/down.svg" alt="down image" />
    </div>

    <div class="container">
      <app-prehistory />
    </div>
  </section>

  <hr />

  <section class="home__content home__news" id="news_list_section">
    <app-news-list />
  </section>

  <hr />

  <section class="home__content home__contacts" id="partners_section">
    <div class="triangle__down">
      <img src="images/icons/down.svg" alt="down image" />
    </div>

    <app-partners />
  </section>

  <hr />

  <section class="home__content home__contacts" id="contacts_section">
    <app-contacts />
  </section>
</main>
