.home {
  position: relative;

  &__content {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__ecoc {
    position: relative;
  }

  @media (max-width: 767px) {
    &__content {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &__prehistory {
      padding: 6rem 0 0;
    }
  }
}

hr {
  margin: 0;
}
