.home {
  position: relative;

  &__content {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__prehistory {
    &-content {
      display: flex;
      gap: 150px;
    }
  }

  &__anchor {
    &-menu {
      position: sticky;
      top: 110px;
    }

    &-link {
      font-weight: bold;
    }

    &-list {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 50px;

      &::before {
        content: "";
        position: absolute;
        left: -50px;
        height: 100%;
        width: 3px;
        background-color: #000;
      }

      & > li:before {
        content: "";
        position: absolute;
        left: -62px;
        width: 28px;
        height: 28px;
        border: 5px solid #fff;
        border-radius: 50%;
        background-color: #000;
        transition: border 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
      }

      & > li.active:before {
        border: 5px solid var(--primary-yellow);
        box-shadow: 0px 0px 10px 2px var(--primary-yellow);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &-date {
      margin-bottom: 1rem;
    }

    &-link {
      text-transform: uppercase;
    }
  }

  &__ecoc {
    position: relative;
  }

  ::ng-deep {
    .ant-anchor-ink {
      &::before {
        display: none;
      }
    }

    .ant-anchor-link-active > .ant-anchor-link-title {
      color: var(--primary-yellow);
    }

    .ant-anchor-ink-ball {
      border: 2px solid var(--primary-yellow);
    }
  }

  @media (max-width: 767px) {
    &__content {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &__prehistory {
      padding: 6rem 0 0;
    }

    &__anchor {
      display: none;

      &-list {
        padding-left: 25px;

        &::before {
          height: 99%;
          left: 0;
        }

        & > li {
          position: relative;
          top: -85px;

          &:before {
            left: -36.5px;
            top: 58px;
          }
        }
      }
    }
  }
}

hr {
  margin: 0;
}
