<app-header />

<main class="home">
  <div class="container">
    <section class="home__ecoc" id="ecoc_section">
      <app-ecoc />
    </section>

    <hr />

    <!-- <section class="home__lviv-2030">
      <app-lviv-2030 />
    </section> -->

    <section class="home__content" id="prehistory_section" #prehistory_section>
      <aside class="home__anchor">
        <nz-anchor
          class="home__anchor-menu"
          nzOffsetTop="110"
          nzBounds="50"
          [nzAffix]="false"
          [nzShowInkInFixed]="true"
        >
          <nz-link
            class="home__anchor-link"
            nzHref="#anchor_ecoc_2016"
            nzTitle="{{ 'home.anchor.ecoc_2016' | translate }}"
          ></nz-link>
          <nz-link
            class="home__anchor-link"
            nzHref="#anchor_lvivs_intention"
            nzTitle="{{ 'home.anchor.lvivs_intention' | translate }}"
          ></nz-link>
          <nz-link
            class="home__anchor-link"
            nzHref="#anchor_ecoc_2022"
            nzTitle="{{ 'home.anchor.ecoc_2022' | translate }}"
          ></nz-link>
          <nz-link
            class="home__anchor-link"
            nzHref="#anchor_ecoc_2029"
            nzTitle="{{ 'home.anchor.ecoc_2029' | translate }}"
          ></nz-link>
          <nz-link
            class="home__anchor-link"
            nzHref="#anchor_ecoc_2024"
            nzTitle="{{ 'home.anchor.ecoc_2024' | translate }}"
          ></nz-link>
          <nz-link
            class="home__anchor-link"
            nzHref="#anchor_applying_lviv"
            nzTitle="{{ 'home.anchor.applying_lviv' | translate }}"
          ></nz-link>
        </nz-anchor>
      </aside>

      <aside class="home__anchor-desc">
        <ul class="home__anchor-list">
          <li id="anchor_ecoc_2016">
            <p>
              ecoc_2016 Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Numquam vero a tempora culpa veritatis nemo, corporis itaque id,
              maxime accusamus expedita saepe, voluptatibus excepturi voluptate
              praesentium harum hic ullam explicabo quidem! Ex ipsam, voluptas
              omnis architecto sapiente beatae maxime suscipit. Reprehenderit
              optio sapiente ullam omnis ex praesentium magnam recusandae
              quaerat, distinctio ipsum ut eligendi repudiandae, est, rerum
              eaque consequatur soluta perspiciatis dignissimos. Velit esse
              magni laborum eaque odio accusamus voluptatibus asperiores
              dignissimos assumenda nisi quidem incidunt optio similique
              veritatis dolor nostrum quia suscipit laboriosam temporibus quis
              ducimus repellendus, maxime natus nesciunt. Nostrum porro
              asperiores et in impedit reiciendis quidem quisquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              consequuntur ducimus nesciunt iste, vero quaerat saepe? Odio
              aperiam commodi omnis distinctio eos eius in consequuntur maiores
              minima at atque quas, tenetur natus dolor nihil reiciendis rerum
              quo facilis, voluptates accusamus, obcaecati explicabo. Hic, quis
              autem repudiandae in obcaecati sapiente dolore?
            </p>
          </li>
          <li id="anchor_lvivs_intention">
            <p>
              lvivs_intention Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Blanditiis quam sunt natus optio dolorem at
              rerum sapiente nesciunt libero necessitatibus temporibus quaerat
              atque unde quod incidunt mollitia consequatur animi, eius, ducimus
              voluptatibus autem ab ipsam veniam architecto. Voluptate facere
              vero dolorum saepe quis sed omnis consectetur assumenda amet et
              possimus incidunt voluptas autem ab, tempore nihil ipsam esse sint
              quibusdam! Laboriosam, perspiciatis eius! Sint assumenda vel
              delectus. Molestiae reprehenderit quibusdam autem eius voluptates
              dolorem adipisci modi excepturi id, earum velit cupiditate quae
              doloribus aliquam recusandae. Quis totam dolor distinctio,
              consequatur beatae aliquid quidem a, repellat numquam in
              repellendus voluptatem nulla exercitationem libero corrupti cum
              dolorem alias cupiditate explicabo. Repellat blanditiis
              necessitatibus quia perferendis ipsa ducimus pariatur ut dolorum
              ullam mollitia dolores maxime fugit suscipit odio laudantium
              veniam voluptatibus aliquid perspiciatis rerum error dolore,
              beatae asperiores. Vero necessitatibus explicabo facere assumenda
              error voluptate in neque porro, aliquid eaque provident quasi est!
            </p>
          </li>
          <li id="anchor_ecoc_2022">
            <p>
              ecoc_2022 Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur sapiente earum ipsam exercitationem similique magni
              tenetur placeat nisi, sint accusamus dolores explicabo neque quae
              est assumenda iste deserunt ut dolor fugit ex vel? Deserunt
              cupiditate dolor architecto suscipit nesciunt repudiandae,
              voluptatem, maxime consectetur corrupti perferendis quae rem illum
              aspernatur. Esse at quam inventore minima sequi officiis. Eveniet,
              sapiente rem dolorem reiciendis optio numquam maiores unde iure ut
              eius dignissimos magni cumque iste tempora excepturi dolor soluta
              totam, laudantium ipsam. Cumque placeat vero aspernatur molestiae
              excepturi explicabo eos nihil, temporibus adipisci. Impedit, ea.
              Aspernatur corporis et atque iste delectus esse, commodi error.
              Aut minus inventore quod consequatur necessitatibus earum laborum
              distinctio beatae, at dolore cum fuga repellendus iste facere
              molestias voluptatem tempora iure voluptates vel tenetur ipsam.
              Tempore inventore harum provident numquam cumque voluptatibus aut
              quia nam necessitatibus temporibus minus, dolores velit soluta
              molestiae deleniti magnam, eius esse alias ducimus sint sit non
              doloribus! Possimus quis ex velit repellat officia, tenetur omnis
              recusandae sed voluptatibus laboriosam repudiandae accusamus
              necessitatibus fugiat aperiam harum suscipit laborum consequatur
              illo. Necessitatibus deleniti nemo vero sunt eaque cupiditate
              repellat tenetur enim, assumenda dolorem reprehenderit at magnam
              perspiciatis veniam temporibus numquam est consectetur sequi
              soluta. Vitae, odio.
            </p>
          </li>
          <li id="anchor_ecoc_2029">
            <p>
              ecoc_2029 Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Quam exercitationem similique perspiciatis adipisci
              voluptatibus sapiente laudantium neque, cupiditate libero iste
              voluptates minus hic natus blanditiis nisi ratione fugit,
              accusamus explicabo consequatur consectetur? Incidunt ea dicta
              nihil nisi id rem et perferendis, neque nobis accusantium ad minus
              inventore ipsa. Placeat, itaque, repellendus aperiam ad facere
              illo ab hic iure ullam aut necessitatibus praesentium sunt. Iure
              natus, in molestiae, odit iusto hic similique sit, nobis deleniti
              vel praesentium harum. Officiis itaque eveniet error sequi
              delectus id quo illo quam, vitae assumenda, unde quisquam alias
              adipisci architecto eius perspiciatis commodi cupiditate
              reprehenderit placeat?
            </p>
          </li>
          <li id="anchor_ecoc_2024">
            <p>
              ecoc_2024 Lorem ipsum, dolor sit amet consectetur adipisicing
              elit. Consequuntur voluptate officia laboriosam? Quas, iure
              laborum ullam dolorum sapiente alias corrupti nisi adipisci eum
              dolore praesentium nulla in eaque aut ab nesciunt totam enim? Hic,
              ab amet. Id dicta explicabo quas nostrum odio. Totam quia dolorem
              eum qui corporis perspiciatis dolore ut ratione assumenda quasi
              provident sed commodi dolor, voluptatem aperiam dignissimos
              possimus, ducimus impedit, laudantium perferendis facilis tenetur
              molestiae velit. Ad vel reiciendis culpa voluptatum voluptate sit
              deleniti laboriosam natus illo optio. Ratione minus esse ipsa sint
              neque perferendis totam fugiat eveniet iure aut laborum suscipit
              officiis vero officia soluta, illum, est natus cupiditate modi
              libero illo temporibus. Quos magni atque pariatur ratione
              recusandae ab optio eius placeat voluptates quis, similique
              officiis dignissimos quaerat id, modi ullam laboriosam, sit
              nostrum corrupti quas ex. Quasi atque veniam debitis quae deleniti
              animi alias similique commodi aliquid tempora rem explicabo
              aperiam voluptatem obcaecati veritatis, maiores ipsum unde
              perspiciatis inventore ad maxime, dolores voluptatibus eos fuga!
              Quas omnis libero officiis adipisci iste, illo quia, dolorem
              perferendis reiciendis sequi quidem magni quibusdam vero. Tenetur!
            </p>
          </li>
          <li id="anchor_applying_lviv">
            <p>
              applying_lviv Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Optio excepturi quas enim reprehenderit? Ratione eos odit
              doloribus explicabo aperiam. Amet eveniet quasi esse fugiat hic
              laudantium vel earum sunt cumque iure, debitis atque impedit eius
              rem libero ad similique excepturi officiis, quis fuga facere. Sint
              mollitia sequi officiis consequuntur enim error vitae, ullam quos
              quaerat sapiente similique quam, cum, quae dolorem fugiat soluta
              blanditiis suscipit molestiae laborum nam necessitatibus ad!
              Corporis rem provident dolore sit? Ad commodi porro assumenda enim
              corrupti minus, facilis modi. At omnis illo corporis eius quam
              autem eveniet voluptatum numquam delectus modi saepe maxime vero
              quos nulla explicabo repellat quo exercitationem sapiente
              asperiores vitae architecto, ut minus molestias. Repudiandae
              aperiam quaerat molestiae, incidunt animi, commodi quia
              voluptatibus laboriosam et pariatur saepe numquam minus
              aspernatur, maiores enim eum quo modi cum illum alias magnam.
              Dolorem aspernatur amet enim recusandae, perferendis voluptates
              eaque repellendus necessitatibus? Ea temporibus sapiente ut,
              recusandae cumque eos nisi mollitia reprehenderit at quisquam
              dignissimos accusantium officia suscipit ipsum tempora quia
              molestias officiis minus aliquam deserunt neque. Quisquam nulla
              commodi optio neque repellat quod tenetur dicta sunt! Sit atque
              consequatur, eum cum quidem quae vel doloremque, aperiam
              dignissimos accusantium velit placeat minus possimus sunt natus
              cumque quia eius ipsum corporis? Illum repellat ratione unde
              porro, impedit cupiditate magni in reprehenderit aliquam provident
              saepe aperiam neque vel itaque eligendi maxime quibusdam.
            </p>
          </li>
        </ul>
      </aside>
    </section>

    <section class="home__ecoc" id="news_list_section">
      <app-news-list />
    </section>
  </div>
</main>
