/* You can add global styles to this file, and also import other style files */
html {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --primary-yellow: #ffd000;

  --gray-700: oklch(36.98% 0.014 302.71);

  --pill-accent: var(--bright-blue);

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100vh;
  display: block;
  font-family: "GIZGravurTTCyr-Cond", sans-serif;
  font-size: 16px;
  color: #353535;
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GIZGravurTTCyr-CondBold", sans-serif;
  font-weight: bold;
  margin: 0;
}

p,
ul {
  margin: 0;
  color: var(--gray-700);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #2d2d2d;
}

a:hover {
  color: var(--primary-yellow);
}

.text__link {
  color: #51b05f;
}

img,
video {
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;

  @media (min-width: 1680px) and (max-height: 1024px) {
    max-width: 1400px;
  }

  @media (max-width: 1680px) {
    max-width: 1100px;
  }

  @media (max-width: 1200px) {
    max-width: 1024px;
  }

  @media (max-width: 1100px) {
    max-width: 760px;
  }

  @media (max-width: 991px) {
    max-width: none;
    padding: 0 70px;
  }

  @media (max-width: 767px) {
    padding: 0 50px;
  }

  @media (max-width: 580px) {
    padding: 0 20px;
  }
}
